[submodule "ResearchKit"]
	path = ResearchKit
	url = git@github.com:ResearchKit/ResearchKit-Stage.git
[submodule "BridgeSDK"]
	path = BridgeSDK
	url = git@github.com:Sage-Bionetworks/Bridge-iOS-SDK.git
[submodule "AppCore"]
	path = AppCore
	url = git@github.com:ResearchKit/AppCore.git
